include LICENSE
include README.md
include example_config/*
include requirements.txt
include requirements-gpu.txt
include requirements-macos.txt

exclude .github
exclude .venv
exclude .vscode
exclude .gitignore
exclude CONTRIBUTING.md
exclude debug.log
exclude images/*