audio_visualizer @ file:///Users/aydrian/projects/audio_visualizer
autopep8==2.2.0
flake8==7.0.0
lupa==2.2
mccabe==0.7.0
numpy==1.26.4
py-spy==0.3.14
PyAudio==0.2.14
pycodestyle==2.11.1
pyflakes==3.2.0
pynput==1.7.7
pyobjc-core==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-Quartz==10.3.1
six==1.16.0
tornado==6.4.1
